@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap%27");

:root {
  --primary-color: #323a42;
  --roboto: "Roboto", sans-serif;
}

.header {
  background-color: var(--primary-color);
  padding: 10px;
  font-family: var(--roboto);
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
  color: white;
  /* margin-right: 300px; */
}
